@import "../style/auth.scss";

.loading {
    margin: auto;
    margin-top: 10px;
}

.pointer {
    cursor: pointer
}

mat-form-field.multi-line-error.ng-invalid.ng-touched {
    animation: appointment;
    animation-duration: 0.3s;
    margin-bottom: 13px;
}
  
@keyframes appointment {
    from {margin-bottom: 0;}
    to {margin-bottom: 13px;}
}