<div class="space-top">
    <h1 class="title">{{'authorization.changePasswordTitle' | translate}}</h1>
    <form (ngSubmit)="onSubmit()" #f="ngForm" class="form-layout" [mustMatch]="['password', 'confirmPassword']">    
        <mat-form-field class="full-width multi-line-error">
            <input matInput [placeholder]="'password' | translate" [type]="hidePass ? 'password' : 'text'" class="form-control"
                [(ngModel)]="model.password" #password="ngModel" name="password" minlength="8" maxlength="20" 
                pattern='^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[\w~@#$%^&*+=`|{}:;!.?\"()\[\]-]{8,20}$' required
                [disabled]="loading">
            <span mat-icon-button matSuffix (click)="hidePass = !hidePass" class="pointer">
                <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                <span *ngIf="password.errors && password.errors['required']">{{'form.required' | translate}}</span>
                <span *ngIf="password.errors && (password.errors['minlength'] || password.errors['pattern'])">{{'form.passwordPattern' | translate}}</span>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <input matInput [placeholder]="'authorization.confirmPassword' | translate" [type]="hideConfPass ? 'password' : 'text'" class="form-control"
                [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" name="confirmPassword" minlength="4"
                maxlength="15" required [disabled]="loading">
            <span mat-icon-button matSuffix (click)="hideConfPass = !hideConfPass" class="pointer">
                <mat-icon>{{hideConfPass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                <span *ngIf="confirmPassword.errors && confirmPassword.errors['required']">{{'form.required' | translate}}</span>
                <span *ngIf="confirmPassword.errors && (confirmPassword.errors['minlength'] || confirmPassword.errors['maxlength'])">{{'form.format' | translate}}</span>
                <span *ngIf="confirmPassword.errors && (confirmPassword.errors['mustMatch'] && (!confirmPassword.errors['minlength'] && !confirmPassword.errors['maxlength']))">{{'form.passwordsNoMatch' | translate}}</span>
            </mat-error>
        </mat-form-field>

        <mat-divider class="divider"></mat-divider>
        <div>
            <button [disabled]="!f.form.valid || loading" type="submit" mat-raised-button
                color="primary">{{ 'save' | translate }}</button>
            <mat-spinner *ngIf="loading" class="loading" diameter="30"></mat-spinner>
        </div>
    </form>
</div>