
<div class="container-fluid py-3">
  <form>
<h3>Одбери термин</h3>

<mat-form-field appearance="fill">
    <mat-label>Одбери дата</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Одбери термин</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="термин 1">од 06:00 до 08:00</mat-option>
      <mat-option value="термин 2">од 16:00 до 17:30</mat-option>
      <mat-option value="термин 3">од 17:30 до 19:00</mat-option>
      <mat-option value="термин 4">од 19:00 до 20:30</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="justify-content-end text-center my-3 p-2">
    <button mat-raised-button color="primary" (click)="addAppointment()">
      Додади
    </button>
  </div>
  
  <p>Одбравте: {{selected}}</p>

  <div class="container custom-container-2">  
    <div class="no-data text-center" *ngIf="appointments.length == 0">
      <p>Нема внесени термини</p>     
    </div>
    <div *ngIf="appointments.length !== 0">
      <h3 class="mb-3 text-center">Внесени Термини</h3>
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">TimeFrom</th>
              <th scope="col">TimeTo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of appointments">
              <td>{{ appointment.Id }}</td>
              <td>{{ appointment.Name }}</td>
              <td>{{ appointment.TimeFrom }}</td>
              <td>{{ appointment.TimeTo }}</td>         
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </form>   
</div>
  

   
      
    