
<div class="container-fluid py-3">
  <form>
<h3>Одбери термин</h3>

<mat-form-field appearance="fill">
    <mat-label>Одбери дата</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Одбери термин</mat-label>
    <mat-select [(value)]="selectedAppointmentId">   
      <mat-option *ngFor="let appointment of appointments" 
      [value]="appointment.Id">{{appointment.TimeFrom}} - {{appointment.TimeTo}}</mat-option>   
    </mat-select>
  </mat-form-field>

  <div class="justify-content-end text-center my-3 p-2">
    <button mat-raised-button color="primary" (click)="addAppointment()" [disabled]="selectedAppointmentId == ''">
      Додади
    </button>
  </div>
  
  <p>Одбравте: {{selectedAppointmentId}}</p>

  <div class="container custom-container-2">  
    <div class="no-data text-center" *ngIf="appointments.length == 0">
      <p>Нема внесени термини</p>     
    </div>
    <div *ngIf="appointments.length !== 0">
      <h3 class="mb-3 text-center">Внесени Термини</h3>
      <div class="col-md-12">
        <table mat-table [dataSource]="appointments">
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let appointment"> {{appointment.Id}} </td>
          </ng-container>
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.Name }}</td>
          </ng-container>
          <ng-container matColumnDef="TimeFrom">
            <th mat-header-cell *matHeaderCellDef> TimeFrom </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.TimeFrom }}</td>
          </ng-container>
          <ng-container matColumnDef="TimeTo">
            <th mat-header-cell *matHeaderCellDef> TimeTo </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.TimeTo }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  </form>   
</div>
  

   
      
    